/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

/****** Body ***********/

body {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0px 50px;
    box-sizing: border-box;
    margin: 0px auto;
    /* Ajoute une marge de 20px en haut et en bas, et centre le contenu horizontalement */
}


/****** Header ***********/

.header {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    height: 79px;
}

.logo-container {
    display: flex;
    width: 161.09px;
    align-items: center;
    gap: 10px;
}

.header img {
    width: 61.09px;
    /* Définissez la largeur souhaitée du logo */
    height: 19px;
    /* Définissez la hauteur souhaitée du logo */
}

/****** Menu Nav ***********/

.navigation {
    display: flex;
    width: 344px;
    height: 35px;
    padding: 0px 50px 0px 50px;
    gap: 68px;
}

.list {
    margin-top: 3px;
    display: flex;
    width: 244px;
    height: 35px;
    gap: 68px;
}

.first-button {
    width: 113px;
    height: 35px;
}

.nd-button {
    width: 63px;
    height: 35px;
}

.list a {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: center;
}

ul li {
    display: flex;
    align-items: center;
    padding-top: 3px;
}

ul li:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    margin-top: -2px;
}


/****** En tete ***********/

.group-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 35px;
}

.headline {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main-title {
    display: flex;
    width: 100%;
    height: 26px;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
}

.text-info {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
}

/****** Barre de recherche ***********/

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #F2F2F2;
}

.search-bar form {
    display: flex;
}

.location-icon {
    width: 50px;
    height: 50px;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recherche {
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    outline: none;
    padding-left: 20px;
}

.button-mobile {
    display: none;
}

.big-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 120px;
    color: white;
    background-color: #0065FC;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

.location-icon i {
    width: 14px;
    height: 18px;
    color: black;
}

/****** Barre de filtres ***********/

.filter-bar {
    height: 50px;
    gap: 15px;
    display: flex;
    align-items: center;
}

.filter-title {
    width: 54px;
    height: 21px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.all-group {
    display: flex;
    flex-direction: row;
}
    

.filter-group1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #F2F2F2;
    width: 22%;
    height: 50px;
    padding: 3px 5px;
    border-radius: 30px;
    margin-right: 20px;
    cursor: pointer;
}

.filter-group2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #F2F2F2;
    width: 22%;
    height: 50px;
    padding: 3px 5px;
    border-radius: 30px;
    margin-right: 20px;
    cursor: pointer;
}

.filter-group3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #F2F2F2;
    width: 24%;
    height: 50px;
    padding: 3px 5px;
    border-radius: 30px;
    margin-right: 20px;
    cursor: pointer;
}

.filter-group4 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #F2F2F2;
    width: 40%;
    height: 50px;
    padding: 3px 5px;
    border-radius: 30px;
    margin-right: 20px;
    cursor: pointer;
}


.filter-group i {
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-group1:hover {
    background-color: #DEEBFF;
    /* Change la couleur de fond au survol de la souris */
}

.filter-group2:hover {
    background-color: #DEEBFF;
    /* Change la couleur de fond au survol de la souris */
}

.filter-group3:hover {
    background-color: #DEEBFF;
    /* Change la couleur de fond au survol de la souris */
}

.filter-group4:hover {
    background-color: #DEEBFF;
    /* Change la couleur de fond au survol de la souris */
}


.filter-text {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

/****** Icone info ***********/

.info-message {
    display: flex;
    align-items: center;
}

.info-message p {
    font-size: 16px;
    font-weight: 400;
}

.parent-icon {
    width: 20px;
    height: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.info-message i {
    color: #0065FC;
}



/****** Hebergements carte***********/

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

}

.card:hover {
    opacity: 1;
    transition: transform 0.5s;
    transform: scale(1.03);
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

#hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    align-items: center;
}

.hebergements-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hebergements-cards .card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 33px;
}

.hebergements-cards img {
    width: 250px;
    height: 114px;
    border: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding: 0px 15px 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-text .hebergements-cards .card-rating {
    margin-bottom: 5px;
    display: flex;
}

.afficher-plus {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    text-align: left;
    margin-top: 33px;
}

/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ***********/

#activites {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 560px;
    padding: 30px 0 30px 0;
    gap: 30px;
}

.bloc-activites {
    display: flex;
    justify-content: center;
    width: 100%
    height: 439px;
    gap: 30px;
    cursor: pointer;
}

.bloc-activites .card {
    width: 22%;
    height: 439px;
    border-radius: 20px 20px 0px 0px;
}

.bloc-activites img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
}

.bloc-activites .card-content {
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
    padding-left: 23px;
    display: flex;
    text-align: left;
    align-items: center;
}


/****** Footer ***********/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 163px;
    margin-top: 33px;
    padding: 20px;
    gap: 15px;
    background-color: #F2F2F2;
}

.bloc-footer1 {
    height: 163px;
    padding: 20px 0px 0px 0px;
    margin-left: 5%;
}

.bloc-footer2 {
    height: 163px;
    padding: 20px 0px 0px 0px;
}

.bloc-footer3 {
    height: 163px;
    padding: 20px 0px 0px 0px;
    margin-right: 20%;
}

.footer-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    text-align: left;
}

.footer p {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: left;
}






/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {


    /****** Body ***********/


    body {
        margin: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .main-container {
        width: 100%;
        max-width: 1024px;
        padding: 0px 50px;
        box-sizing: border-box;
        margin: 0px auto;
    }


    /****** Header ***********/

    .header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 79px;
    }

    .logo-container {
        display: flex;
        width: 161.09px;
        align-items: center;
        gap: 10px;
    }

    .header img {
        width: 61.09px;
        /* Définissez la largeur souhaitée du logo */
        height: 19px;
        /* Définissez la hauteur souhaitée du logo */
    }


    /****** Menu Nav ***********/

    .navigation {
        display: flex;
        justify-content: flex-end;
        width: 344px;
        height: 35px;
        padding: 0px 50px 0px 50px;
        gap: 68px;
    }

    .list {
        margin-top: 3px;
        display: flex;
        width: 244px;
        height: 35px;
        gap: 68px;
    }

    .first-button {
        width: 113px;
        height: 35px;
    }

    .nd-button {
        width: 63px;
        height: 35px;
    }

    .list a {
        font-size: 16px;
        font-weight: 400;
        line-height: 18.78px;
        text-align: center;
    }

    ul li {
        display: flex;
        align-items: center;
        padding-top: 3px;
    }

    ul li:hover {
        color: #0065FC;
        border-top: 2px solid #0065FC;
        margin-top: -2px;
    }



    /****** En tete ***********/

    .group-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        gap: 35px;
    }

    .headline {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .main-title {
        display: flex;
        height: 26px;
        font-size: 22px;
        font-weight: 700;
        line-height: 25.83px;
    }

    .text-info {
        display: flex;
        font-size: 16px;
        font-weight: 400;
        line-height: 18.78px;
    }

    /****** Barre de recherche ***********/

    .search-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        border-radius: 10px;
        border: 0.5px solid #F2F2F2;
    }

    .search-bar form {
        display: flex;
    }

    .location-icon {
        width: 50px;
        height: 50px;
        border-radius: 10px 0px 0px 10px;
        background-color: #F2F2F2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .recherche {
        height: 50px;
        width: 230px;
        font-size: 18px;
        color: black;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: none;
        outline: none;
        padding-left: 20px;
    }

    .big-button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 120px;
        color: white;
        background-color: #0065FC;
        cursor: pointer;
        border-radius: 0 10px 10px 0;
    }

    .location-icon i {
        width: 14px;
        height: 18px;
        color: black;
    }


    /****** Barre de filtres ***********/

    .filter-bar {
        gap: 15px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .filter-title {
        width: 54px;
        height: 21px;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }

    .all-group {
        display: flex;
        flex-direction: row;
        width: 100%;
    }


    .filter-group1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 2px solid #F2F2F2;
        width: 19%;
        height: 50px;
        padding: 4px 19px 4px 19px;
        border-radius: 30px;
        margin-right: 20px;
        cursor: pointer;
    }

    .filter-group2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 2px solid #F2F2F2;
        width: 15%;
        height: 50px;
        padding: 4px 19px 4px 19px;
        border-radius: 30px;
        margin-right: 20px;
        cursor: pointer;
    }

    .filter-group3 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 2px solid #F2F2F2;
        width: 19%;
        height: 50px;
        padding: 4px 19px 4px 19px;
        border-radius: 30px;
        margin-right: 20px;
        cursor: pointer;
    }

    .filter-group4 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 2px solid #F2F2F2;
        width: 19%;
        height: 50px;
        padding: 4px 19px 4px 19px;
        border-radius: 30px;
        margin-right: 20px;
        cursor: pointer;
    }


    .filter-group i {
        border-radius: 25px;
        width: 52px;
        height: 52px;
        color: #0065FC;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .filter-group1:hover {
        background-color: #DEEBFF;
        /* Change la couleur de fond au survol de la souris */
    }

    .filter-group2:hover {
        background-color: #DEEBFF;
        /* Change la couleur de fond au survol de la souris */
    }

    .filter-group3:hover {
        background-color: #DEEBFF;
        /* Change la couleur de fond au survol de la souris */
    }

    .filter-group4:hover {
        background-color: #DEEBFF;
        /* Change la couleur de fond au survol de la souris */
    }


    .filter-text {
        height: 50px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 0 25px 25px 0;
        font-size: 17px;
        font-weight: bold;
        display: flex;
        align-items: center;
    }


    /****** Hebergements et populaires ***********/


    .hebergements-and-populaires {
        flex-direction: column;
    }


    /****** Hebergements ***********/

    #hebergements {
        width: 100%;
    }

    .hebergements-title {
        display: flex;
        align-items: center;
    }

    .hebergements-cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }


    .hebergements-cards .card {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 33px;
    }

    .hebergements-cards img {
        width: 250px;
        height: 114px;
        border: 5px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .hebergements-cards .card-content {
        padding: 0px 15px 0px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .hebergements-cards .card-text .hebergements-cards .card-rating {
        margin-bottom: 5px;
        display: flex;
    }

    .afficher-plus {
        font-size: 18px;
        font-weight: 700;
        line-height: 21.13px;
        text-align: left;
        margin-top: 33px;
    }


    /****** Populaires ***********/


    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }


    /****** Activites ***********/

    #activites {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 100%;
        height: 390px;
        padding: 30px 0 30px 0;
        gap: 30px;
    }

    .bloc-activites {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 280px;
        gap: 30px;
        cursor: pointer;
    }

    .bloc-activites .card {
        width: 22%;
        height: 270px;
        border-radius: 20px 20px 0px 0px;
    }

    .bloc-activites img {
        width: 100%;
        height: 200px;
        border-radius: 20px 20px 0px 0px;
    }

    .bloc-activites .card-content {
        font-size: 12px;
        font-weight: 700;
        line-height: 18.78px;
        padding-left: 23px;
        display: flex;
        text-align: left;
        align-items: center;
    }


    /****** Footer ***********/

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 163px;
        margin-top: 33px;
        padding: 20px;
        gap: 15px;
        background-color: #F2F2F2;
    }

    .bloc-footer1 {
        height: 163px;
        padding: 20px 0px 0px 0px;
        margin-left: 5%;
    }

    .bloc-footer2 {
        height: 163px;
        padding: 20px 0px 0px 0px;
    }

    .bloc-footer3 {
        height: 163px;
        padding: 20px 0px 0px 0px;
        margin-right: 20%;
    }

    .footer-title {
        font-size: 18px;
        font-weight: 700;
        line-height: 21.13px;
        text-align: left;
    }

    .footer p {
        font-size: 16px;
        font-weight: 400;
        line-height: 18.78px;
        text-align: left;
    }

}



/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    /****** Body ***********/


    body {
        margin: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .main-container {
        width: 100%;
        max-width: 768px;
        padding: 0;
        box-sizing: border-box;
        margin: 0px auto;
    }


    /****** Header ***********/

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 20px;
    }

    .logo-container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .header img {
        width: 61.09px;
        /* Définissez la largeur souhaitée du logo */
        height: 19px;
        /* Définissez la hauteur souhaitée du logo */
    }


    /****** Menu Nav ***********/

    .navigation {
        display: flex;
        width: 100%;
        height: 35px;
        padding: 0;
        gap: 68px;
    }

    .list {
        margin-top: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 35px;
        gap: 0;
        border-bottom: 5px solid #F2F2F2;
    }

    .first-button {
        width: 50%;
        justify-content: center;
        height: 35px;
    }

    .nd-button {
        width: 50%;
        justify-content: center;
        height: 35px;
    }

    .list a {
        font-size: 16px;
        font-weight: 400;
        line-height: 18.78px;
        text-align: center;
    }

    ul li {
        display: flex;
        align-items: center;
        padding-top: 3px;
    }

    ul li:hover {
        color: #0065FC;
        border-top: 0;
        border-bottom: 5px solid #0065FC;
        margin-bottom: -2px;
    }



    /****** En tete ***********/

    .group-info {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 0 20px 0 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        gap: 35px;
    }

    .headline {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 8px;
        width: 100%;
    }

    .main-title {
        display: flex;
        width: 90%;
        height: 26px;
        font-size: 22px;
        font-weight: 700;
        line-height: 25.83px;
    }

    .text-info {
        display: flex;
        font-size: 16px;
        font-weight: 400;
        line-height: 18.78px;
    }

    /****** Barre de recherche ***********/

    .search-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 325px;
        border-radius: 10px;
        border: 0.5px solid #F2F2F2;
    }

    .search-bar form {
        display: flex;
    }

    .location-icon {
        width: 50px;
        height: 50px;
        border-radius: 10px 0px 0px 10px;
        background-color: #F2F2F2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .recherche {
        height: 50px;
        width: 230px;
        font-size: 18px;
        color: black;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: none;
        outline: none;
        padding-left: 20px;
    }

    .big-button {
        display: none;
    }
        
        
    .button-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0065FC;
        height: 20px;
        padding: 15px 16px 15px 16px;
        gap: 10px;
        border-radius: 15px;
    }

    .button-mobile i {
        color: white;
    }



    .location-icon i {
        width: 14px;
        height: 18px;
        color: black;
    }


    /****** Barre de filtres ***********/

    .filter-bar {
        width: 70%;
        gap: 15px;
        display: flex;
    }

    .all-group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }

    .filter-title {
        width: 54px;
        height: 21px;
        font-size: 18px;
        font-weight: 700;
        text-align: start;
    }

    .filter-group1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 2px solid #F2F2F2;
        width: 120px;
        height: 50px;
        padding: 4px 19px 4px 19px;
        border-radius: 30px;
        margin-right: 0;
        cursor: pointer;
    }

    .filter-group2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 2px solid #F2F2F2;
        width: 120px;
        height: 50px;
        padding: 4px 19px 4px 19px;
        border-radius: 30px;
        margin-right: 0;
        cursor: pointer;
    }

    .filter-group3 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 2px solid #F2F2F2;
        width: 120px;
        height: 50px;
        padding: 4px 19px 4px 19px;
        border-radius: 30px;
        margin-right: 0;
        cursor: pointer;
    }

    .filter-group4 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 2px solid #F2F2F2;
        width: 120px;
        height: 50px;
        padding: 4px 19px 4px 19px;
        border-radius: 30px;
        margin-right: 0;
        cursor: pointer;
    }


    .all-group i {
        border-radius: 25px;
        width: 52px;
        height: 52px;
        color: #0065FC;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .filter-group1:hover {
        background-color: #DEEBFF;
        /* Change la couleur de fond au survol de la souris */
    }

    .filter-group2:hover {
        background-color: #DEEBFF;
        /* Change la couleur de fond au survol de la souris */
    }

    .filter-group3:hover {
        background-color: #DEEBFF;
        /* Change la couleur de fond au survol de la souris */
    }

    .filter-group4:hover {
        background-color: #DEEBFF;
        /* Change la couleur de fond au survol de la souris */
    }


    .filter-text {
        height: 50px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 0 25px 25px 0;
        font-size: 17px;
        font-weight: bold;
        display: flex;
        align-items: center;
    }


    .info-message {
        margin-top: 30px;
        padding-left: 10px;
    }


    /****** Hebergements et populaires ***********/


    .hebergements-and-populaires {
        flex-direction: column;
        margin-top: 0;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }


    /****** Hebergements ***********/

    #hebergements {
        width: 100%;
        order: 2;
        background-color: white;
    }

    .hebergements-title {
        display: flex;
        align-items: center;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .hebergements-cards .card {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 33px;
    }

    .hebergements-cards img {
        width: 100%;
        height: 114px;
        border: 5px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .hebergements-cards .card-content {
        padding: 0px 15px 0px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .hebergements-cards .card-text .hebergements-cards .card-rating {
        margin-bottom: 5px;
        display: flex;
    }

    .afficher-plus {
        font-size: 18px;
        font-weight: 700;
        line-height: 21.13px;
        text-align: left;
        margin-top: 33px;
    }


    /****** Populaires ***********/


    .populaires {
        width: 100%;
        margin-top: 30px;
        order: 1;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }


    /****** Activites ***********/

    #activites {
        margin-top: 0;
        margin-bottom: 50px;
        width: 100%;
        height: 100%;
        padding: 30px 0 30px 0;
        gap: 30px;
    }

    #activites h2 {
        padding-left: 5%;
    }

    .bloc-activites {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 100%;
        gap: 30px;
        cursor: pointer;
    }

    .bloc-activites .card {
        width: 90%;
        height: 270px;
        padding: 0;
        border-radius: 20px;
        box-sizing: border-box;
    }

    .bloc-activites img {
        width: 100%;
        height: 200px;
        border-radius: 20px 20px 0px 0px;
    }

    .bloc-activites .card-content {
        font-size: 16px;
        font-weight: 700;
        line-height: 18.78px;
        padding-left: 23px;
        display: flex;
        text-align: left;
        align-items: center;
    }


    /****** Footer ***********/

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 461px;
        margin-top: 20%;
        padding: 20px;
        gap: 30px;
        background-color: #F2F2F2;
    }

    .bloc-footer1 {
        width: 100%;
        height: 150px;
        padding: 0;
        margin-left: 10px;
    }

    .bloc-footer2 {
        width: 100%;
        height: 120px;
        padding: 0;
        margin-left: 10px;
    }

    .bloc-footer3 {
        width: 100%;
        height: 120px;
        padding: 0;
        margin-left: 10px;
    }

    .footer-title {
        font-size: 18px;
        font-weight: 700;
        line-height: 21.13px;
        text-align: left;
    }

    .footer p {
        font-size: 16px;
        font-weight: 400;
        line-height: 18.78px;
        text-align: left;
    }

}