/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

/****** Header ***********/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 79px;
}

.logo-container {
    width: Hug (161.09px)px;
    height: Hug (79px)px;
    padding: 30px 50px 30px 50px;
    gap: 10px;
    opacity: 0px;

}

.header img {
    width: 61, 09px;
    /* Définissez la largeur souhaitée du logo */
    height: 19px;
    /* Définissez la hauteur souhaitée du logo */
}

.navigation {
    display: flex;
    width: Hug (344px)px;
    height: Hug (35px)px;
    left: 1096px;
    padding: 0px 50px 0px 50px;
    gap: 68px;
}

.button {
    display: flex;
    width: 244px;
    height: 35px;
    gap: 68px;
}

li {display: flex;}
li :hover {color:#0065FC;}
li :hover {border-top: 2px solid #0065FC; padding-top: 5px;}
    

.header ul li:first-child {
    width: 113px;
    height: 35px;

}

.header ul li:nth-child(2) {
    width: 63px;
    height: 35px;

}

.header ul li:first-child a {
    font-style: Nav/Standard;
    font-family: Raleway;
    color: #0065FC;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: center;
}

.header ul li:first-child a {
    border-top: 2px solid #0065FC;
    /* Bordure de 2 pixels de largeur, de type solide et de couleur bleue */
    width: 113px;
    /* Largeur de l'élément */
    padding-top: 5px;
    /* Ajoutez un espace au-dessus du texte pour compenser la bordure */
}

.header ul li:nth-child(2) a {
    font-style: Nav/Standard;
    font-family: Raleway;
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: center;

}

/****** Body ***********/

body {
    display: flex;
    justify-content: center;
}

body {
    width: Fill (1, 440px)px;
    height: Hug (1, 722.02px)px;
    padding: 0px 50px 0px 50px;
    gap: 35px;
    opacity: 0px;

}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.group-info {
    width: Fill;
    height: 281px;
    gap: 35px;

}

.headline {
    width: Fill (1, 340px)px;
    height: Fixed (53px)px;
    gap: 8px;
}

.main-title {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
    text-align: left;
}

.text-info {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: left;

}

.search-bar {
    margin top: 20px;
    position: relative;

}

.location-icon {
    position: absolute;
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    border: 1px 0px 0px 0px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;

}

form {
    display: flex;
    /* Utilisation de flexbox pour aligner les éléments */
    flex-direction: row;
    align-items: center;
    /* Centrer les éléments verticalement */
    margin: auto;
    width: auto;

}

.search-bar i {
    position: absolute;
    left: 10px;
}

.search-bar input[type="text"] {
    padding-left: 30px;
    /* Ajouter un espace pour le logo à gauche */
}

input {
    width: 377px;
    height: 49px;
    gap: 24px;
    border-radius: 15px 15px 15px 15px;
    border: 1px 1px 1px 1px;
    background-color: #FFFFFF;
    border-color: #F2F2F2;
}

.fa-location-dot {
    width: 14px;
    height: 18px;
    top: 15px;
    left: 18px;
    color: black;

}



a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}